body {
   background: #2c3e50;
   margin: 0%;
   font-size: 12px;
   font-family: sans-serif;
}
.img{
    width: 222px;
    height: 222px;
    margin-left: 82%;
    margin-top: 50px;
}
.img-a{
    width: 1366px;
    height: 320px;
    position: relative;
    background: repeating-linear-gradient(-31deg, black 0px, black 50%, white 0, white);
    opacity: 0%;
}
nav {
	margin: 27px auto 0;

	position: relative;
	width: 710px;
	height: 50px;
	background-color: #34495e;
	border-radius: 8px;
	font-size: 0;
}
nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
a:nth-child(1) {
	width: 100px;
}
a:nth-child(2) {
	width: 110px;
}
a:nth-child(3) {
	width: 100px;
}
a:nth-child(4) {
	width: 160px;
}
a:nth-child(5) {
	width: 120px;
}
a:nth-child(6) {
	width: 120px;
}
nav .start-home, a:nth-child(1):hover~.animation {
	width: 100px;
	left: 0;
	background-color: #1abc9c;
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: 110px;
	left: 100px;
	background-color: #e74c3c;
}
nav .start-blog, a:nth-child(3):hover~.animation {
	width: 100px;
	left: 210px;
	background-color: #3498db;
}
nav .start-portefolio, a:nth-child(4):hover~.animation {
	width: 160px;
	left: 310px;
	background-color: #9b59b6;
}
nav .start-contact, a:nth-child(5):hover~.animation {
	width: 120px;
	left: 470px;
	background-color: #e67e22;
}
nav .start-contact, a:nth-child(6):hover~.animation {
	width: 120px;
	left: 590px;
	background-color: #8E44AD;
}
@font-face{
    font-family: Freebooter;
    src: url("../fonts/FREEBSC_.ttf")
}
.eslogan{
    margin-left: 60%;
    margin-top: -130px;
    color: white;
    font-family: Freebooter;
}
.slider{
    width: 95%;
    margin-left: 4%;
    margin-top: -12%;
    overflow: hidden;
}
.slider ul{
    padding: 0%;
    display: flex;
    width: 400%;

    animation: cambio 23s infinite;
    animation-direction: alternate;
}
.slider li{
    list-style: none;
    width: 100%;
}
.slider h1{
    width: 100%;
}
@keyframes cambio{
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%}
    45% {margin-left: -100%}

    50% {margin-left: -200%}
    70% {margin-left: -200%}

    75% {margin-left: -300%}
    100% {margin-left: -300%}
}